###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/console ###
/.php_history
###< symfony/console ###

###> composer ###
/composer.lock
/composer.phar
/composer-test.lock
###< composer ###

# Docker
/docker/